:root {
  --one: #0F172A;
  --two: #7477FF;
  --three: #112a60;
  --four: #ffffff;
}
.sec-about{
    font-size:2.5rem;
    background-color: var(--three); 
}
.info-section{
    padding:0rem;
    line-height: 5rem;
}
h2{
    font-size:4rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    font-size:3rem;
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida';
}
.desc{
  color:var(--four)
}
.title{
  color: var(--four);
}
h4{
    font-size:2.8rem;
    padding: 1rem;
    font-family:  'Trebuchet MS',Arial, sans-serif;
    color: var(--four)
}

.tech{
  text-align: center;
  margin: 5rem;
  font-size: 150%;
  font-weight: bold;
  color:var(--four)
  /* justify-content: center;
  align-items: center; */
}
.icons{
  margin:5rem;
}
.icon{
  height: 30rem;
}