
.sec-contact{
    font-size:2.5rem;
    background-color: var(--one); 
    height:20rem;
}
.info-section{
    padding:0rem;
    line-height: 5rem;
}
h2{
    font-size:4rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    font-size:3rem;
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida';
}
.desc{
color:var(--four)
}
.title{
color: var(--four);
}
h4{
    font-size:2.8rem;
    padding: 1rem;
    font-family:  'Trebuchet MS',Arial, sans-serif;
    color: var(--four)
}

.social-ul{
    background-color: var(--one);
    
}