.home-content{
    background-color: var(--prim);
    display: flex;
    justify-content: space-between;
    padding: 5%;
    height: 100rem;
}
.heading{
    
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 200%;
}
.home-header{
    font-weight: bold;
    font-size: large;
    padding: 15rem;
    margin: 5rem;
}
.lottie{
    margin: 5rem;
}
.home-type{
    display: flex;
    align-self: center;
    color: var(--five);
    font-size: 150%;
}
.line{
    height:2px;
    border-width:0;
    color:var(--two);
    background-color:var(--two);
}
