:root{
    --primary:#9cf2f7;
    --secondary:#146C94;
}

.home-content{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    height: 110rem;
}
.heading{
    
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 200%;
}
.home-header{
    font-weight: bold;
    font-size: large;
    padding: 15rem;
    margin: 5rem;
}
.lottie{
    margin: 5rem;
}
.home-type{
    display: flex;
    align-self: center;
    color: purple;
    font-size: 150%;
}

