html{
    font-size:40%;
}
h3{
    /* font-family: 'Brush Script MT', cursive; */
    font-family: 'Trebuchet MS', sans-serif;
    color: #7477FF;

}
ul{
    list-style: none;
    
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;    
}

nav li {
    margin: 0;
    padding: 0;
    display: block;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}

.main{
    width: 100%;
    /* height: 100rem; */
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    background-color: #05BFDB;
}
.logo{
    display: flex;
    background: #0F172A;
    grid-column: 1/2;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 10rem;
    font-size: 2rem;
}
.menu{
    display: grid;
    grid-column: 2/3;
}
.menu-ul{
    height: 10rem;
    align-items: center;
    text-transform: capitalize;
    font-size: 2rem;
    background: #0F172A;
}
.social{
    display: grid;
    grid-column: 3/4;
}
.social-ul{
    height: 10rem;
    display:grid;
    grid-template-columns: 2fr repeat(3,1fr) 1fr;
    align-items: center;
    justify-content: flex-end;
    background: #0F172A;
}
.social-ul li{
    size: 5.8rem;
}
.social-ul li:first-child{
    grid-column: 2/3;
}
.hamburger{
    display: none;
    align-self: center;
}
@media(max-width:768px){
    .main{
      /* height: 80rem; */
      grid-template-columns: 1fr 3fr;
    }
    /* .menu-ul li{
      display: none;
    } */
    .social-ul li{
      display: none;
    }
    .hamburger{
        display: none;
    }
}
@media(max-width:600px){
    .main{
        /* height: 80rem; */
        width: 100%;
        grid-template-columns: 1fr 2fr 1fr;
    }
    .menu-ul li{
      display: none;
    }
    .social{
        height:7rem;
        display:flex;
    }
    .social-ul{
        height: 0;
        display: none;
    }
    .hamburger{
        display: block;
    }

}
