html{
    font-size:62.5%;
    

}
h3{
    /* font-family: 'Brush Script MT', cursive; */
    font-family: 'Trebuchet MS', sans-serif;
    color: darkblue;

}
ul{
    list-style: none;
    
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;    
}

nav li {
    margin: 0;
    padding: 0;
    display: block;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}

.main{
    width: 100%;
    height: 100rem;
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    background-color: #AFD3E2;
}
.logo{
    display: grid;
    background-color: #05BFDB;
    grid-column: 1/2;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    font-size: 2rem;
}
.menu{
    display: grid;
    grid-column: 2/3;
}
.menu-ul{
    height: 10rem;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.8rem;
    background-color: #05BFDB;
}
.social{
    display: grid;
    grid-column: 3/4;
}
.social-ul{
    height: 10rem;
    display:grid;
    grid-template-columns: 2fr repeat(3,1fr) 1fr;
    align-items: center;
    justify-content: flex-end;
    background-color: #05BFDB;
}
.social-ul li{
    size: 5.8rem;
}
.social-ul li:first-child{
    grid-column: 2/3;
}
.menu-li:hover{
    background-color: #09DF0B;
}
@media(max-width:768px){
    .main{
      /* height: 80rem; */
      grid-template-columns: 1fr 3fr;
    }
    /* .menu-ul li{
      display: none;
    } */
    .social-ul li{
      display: none;
    }
}
@media(max-width:440px){
    .main{
        /* height: 80rem; */
        grid-template-columns: 1fr 2fr;
    }
    .menu-ul li{
      display: none;
    }
}
/* li:hover{
    color: black;
}
.menu li:hover{
    background-color:#09DF0B;
} */