.sec-project{
    font-size:2.5rem;
    height: 125rem;
    width: 100%;
    background-color: var(--three); 
    
}
h2{
    font-size:4rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    font-size:3rem;
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida';
}
.desc{
color:var(--four)
}
.title-project{
color: var(--four);
text-align: center;
width: 100%;
padding: 2%;
}
h4{
    font-size:2.8rem;
    padding: 1rem;
    font-family:  'Trebuchet MS',Arial, sans-serif;
    color: var(--four)
}
.box{
    display: flex;
    flex-direction: row;
    height: 20rem;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color:var(--four);
    background-color: var(--six);
    border: 2px solid black;
    margin: 1rem;
}
.name{
    width: 30%;
}
.description{
    width: 40%;
}
.code{
    width: 30%;
}

